@charset "UTF-8";

/* estilo para impressoras */

* {
    margin: 10px;
    padding: 1px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'Este conteúdo foi impresso através do site www.cursoemvideo.com';
}